---
import PokemonList from "../components/PokemonList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pokedex | BarronCode">
  <section
    class="flex flex-col items-center mt-10 animate-fade animate-duration-1000 animate-delay-200 animate-ease-in-out"
  >
    <picture class="flex w-[500px]">
      <img loading="eager" src="../assets/PokeLogo.png" alt="Logo de Pokemon" />
    </picture>
    <h1 class="text-center">Welcome to my Pokedex</h1>
  </section>
  <PokemonList class="flex justify-center" />
</Layout>
