---
import PokemonList from "../components/PokemonList.astro";
import SearchBar from "../components/SearchBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pokedex | BarronCode">
  <section
    class="flex flex-col items-center mt-10 animate-fade animate-duration-1000 animate-delay-200 animate-ease-in-out"
  >
    <picture class="flex w-[500px]">
      <img loading="eager" src="../assets/PokeLogo.png" alt="Logo de Pokemon" />
    </picture>
    <!-- <p
      class="text-center mx-0 w-2/5 mt-6 text-pretty text-base text-slate-200/90"
    >
      Explora el mundo Pokémon con nuestra completa Pokédex para descubrir
      detalles sobre tus Pokémon favoritos, incluyendo tipos, habilidades y
      estadísticas, todo diseñado para enriquecer tu aventura. ¡Sumérgete y
      explora!
    </p> -->
  </section>
  <!-- <SearchBar /> -->
  <PokemonList class="flex justify-center" />
</Layout>
