---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "@fontsource-variable/dosis";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Pokedex created using Astro and Tailwind by @BarronCode"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="https://assets.pokemon.com/static2/_ui/img/favicon.ico"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-full bg-slate-100 dark:bg-slate-800">
    <!-- <Header /> -->
    <main class="w-full">
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>
<style is:global>
  html {
    font-family: "Dosis Variable", sans-serif;
    color-scheme: light dark;
  }

  body {
    background: url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
  }
</style>
